@import "01-Setup/normalize.css";
@import "01-Setup/reset.css";
@import "01-Setup/fonts.css";
@import "01-Setup/props.css";

/* @import "03-Layout/layout.css"; */

@import "04-Global/siteHeader.css";
@import "04-Global/siteMain.css";
@import "04-Global/siteFooter.css";

@import "06-Pages/pages.css";

.colorBoxGrid {
  display: flex;
  gap: 2rem;
  margin-block: 2rem;

  & > * {
    padding: 2rem;
    border: 0.125rem solid black;
  }

  & .localColorBox {
    background-color: var(--color--local);
  }

  & .remoteColorBox {
    background-color: var(--color--remote);
  }
}
